<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roumo"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.login.EmailLoginActivity"
            android:exported="true">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="moneysaving.page.link"
                    android:scheme="https" />

            </intent-filter>

        </activity>

        <activity
            android:name=".view.MainActivity"
            android:exported="false" />

        <activity android:name=".view.routine.RoutineActivity"
            android:exported="false"/>

        <activity
            android:name=".view.notification.TestActivity"
            android:exported="false" />

        <receiver
            android:name=".utils.receiver.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yeolsimee.moneysaving.ROUTINE_ALARM" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".utils.receiver.DeviceBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.signup.AgreementActivity"
            android:exported="false" />
    </application>

</manifest>